<div class="container ">
    <div class="row">
      <div class="col-sm-4" *ngFor="let item of productList">
        <div class="card mb-3">
          <div class="card-body center">
            <img src={{item.image}} class="card-img-top product-image" alt="Producto {{ item.id }}" style="object-fit: contain; height: 300px;">
            <h5 class="card-title">{{ item.name }}</h5>
            <p class="card-text">{{ item.price | currency }}</p>
            <p class="card-text">{{ item.description }}</p>
            <a href="#" class="btn btn-warning">Buy this product</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  