.logo{
    color: #548441;
    text-align: center;
    transition: .3s ease;
}
.logo:hover{
    color: white;
    
}

.boton{
    position: relative;
    left: 250px;
    padding: 5px 45px;
    text-transform: uppercase;
    transition: .3s ease;
}
